body, html {
  margin: 0;
  height: 100%;
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  position: relative; }
  body:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #61dafb, #0277BD, #4527A0, #BA68C8);
    z-index: -1;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 70%); }

.navbar {
  max-height: 8vh;
  padding: 0 2rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center; }
  .navbar .logo {
    flex: 1; }
    .navbar .logo img {
      max-height: 8vh; }
  .navbar .extra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    .navbar .extra-item {
      color: white;
      transition: all, 0.5s;
      padding: 0.5rem;
      margin-right: 1rem;
      cursor: pointer;
      border-radius: 50%; }
      .navbar .extra-item:first-child {
        padding: 0.5rem 0.8rem; }
      .navbar .extra-item:last-child {
        margin-right: 0; }
      .navbar .extra-item:hover {
        background: white;
        color: black !important; }
      .navbar .extra-item:focus, .navbar .extra-item:visited, .navbar .extra-item:link {
        color: white; }

.wrapper {
  height: 92vh;
  max-height: 92vh;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem; }

.editor, .preview {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid #ebebeb;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 1rem; }

.editor {
  margin-right: 1rem; }

@media (max-width: 768px) {
  .navbar {
    max-height: unset; }
    .navbar .logo img {
      max-height: 10vh; }
  .wrapper {
    flex-direction: column;
    align-items: center;
    height: unset;
    padding: 0; }
    .wrapper .editor, .wrapper .preview {
      width: 90%;
      min-height: 42vh;
      margin: 0.5rem 0; }
    .wrapper .editor {
      margin-right: 0; } }
