@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body, html {
  margin: 0;
  height: 100%;
  font-size: 10px;
  font-family: 'Lato'; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  background-attachment: fixed;
  background-size: cover; }

.navbar {
  max-height: 10vh;
  padding: 0 2rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  position: relative; }

.navbar .logo {
  flex: 1;
  text-align: center; }

.navbar .logo img {
  max-height: 10vh; }

.navbar .extra-item {
  font-size: 2rem;
  color: white;
  transition: all, 0.2s;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%); }

.navbar .extra-item:hover {
  background: black;
  color: white !important; }

.navbar .extra-item:focus, .navbar .extra-item:visited, .navbar .extra-item:link {
  color: black; }

.wrapper {
  height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: space-between; }

.editor, .preview {
  width: 100%;
  background: #fff;
  font-size: 1.7rem; }

.editor .header, .preview .header {
  height: 8%;
  box-shadow: 0px 4px 10px -4px rgba(137, 137, 137, 0.4);
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #f9f9f9; }

.editor .area, .preview .area {
  height: 92%;
  padding-top: 1rem;
  overflow: auto; }

.editor {
  border-right: 2px solid #ebebeb; }

.preview .area {
  padding: 1rem; }

#editor__area {
  width: 100%;
  height: 99%;
  border: none;
  resize: none;
  padding: 1rem;
  padding-top: 0;
  font-size: 1.7rem !important;
  font-family: "Lato"; }

#editor__area:focus {
  border: none;
  outline: none; }

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column; }
  .wrapper .editor, .wrapper .preview {
    width: 100%;
    min-height: 45vh;
    font-size: 1.4rem;
    box-shadow: 0px 2px 10px -2px rgba(137, 137, 137, 0.4); }
  .wrapper .editor .header, .wrapper .preview .header {
    padding: 0.5rem; }
  .wrapper .editor {
    border: none; } }
